/* This is where all of the stylings will go */


.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

.maroon {
    background-color: maroon;
}

.scoreContainer {
    border: 1px solid black;
}

.adviceContainer {
    border: 1px solid blue;
}

.mainButton {
    width: 33vw;
}
