/* Variables: */

:root {
    --font-h1: 'Shadows Into Light', cursive;
    --font-h2: 'Rubik', sans-serif;
    --font-p: 'Barlow', sans-serif;
    --color-cta: #55F018;
    --color-fog: #C4BEBE;
    --color-blue: #E5FFFF;
    --color-text: #343434;
}

/* Reset styles: */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, p {
    color: var(--color-text);
}

/* Other styles: */

body {
    animation: backgroundChange 7s ease-in-out infinite alternate both;
    background-color: var(--color-blue);
    z-index: 1;
  }
  
  @keyframes backgroundChange {
    0% {
        background-color: var(--color-blue);
    }
    100% {
        background-color: var(--color-text);
    }
  }

a {
    color: var(--color-text);
    text-decoration: none;
    /* Need to improve this */
}

a:visited {
    color: var(--color-text);
    text-decoration: none;
}

/* Button page: */


h1 {
    font-family: var(--font-h1);
    font-size: 3rem;
    text-align: center;
    margin: 10vh auto 10vh auto;
    padding: 0 0.4rem 0 0.4rem;
}

.mainButton {
    margin: 4rem auto 0 auto;
    width: 40vw;
    max-width: 12rem;
    min-width: 10rem;
}

.mainButton > button {
    background-color: var(--color-cta);
    border-radius: 50%;
    box-shadow: 6px 6px var(--color-cta);
    margin: 1rem 3rem;
    border: 2px solid var(--color-text);
    cursor: pointer;
}


.mainButton > button:hover {
    /* need to add styles here */
}

.mainButton > button:active {
    box-shadow: 0 0 var(--color-text);
    position: relative;
    left: 4px;
    top: 4px;
}

.mainButton > button > img {
    width: 100%;
    padding-top: 0.5rem;
    margin: 0 auto;
}

/* Footer: */

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    border-top: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 3000px;
    right: 50%;
    background-color: white;
    transform: translateX(50%);
    z-index: 6;
}

footer > div {
    font-family: var(--font-p);
    padding: 0.5rem;
}

footer a {
    color: var(--color-text);
    font-weight: 900;
}

footer a:hover {
    color: var(--color-cta);
}

/* Results page: */
.backButton {
    width: 3rem;
    background-color: var(--color-cta);
    border-radius: 50%;
    box-shadow: 3px 3px var(--color-cta);
    border: 1.5px solid var(--color-text);
}

button:has(.backButton) {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 0.3rem;
  }

.backButton:active {
   box-shadow: 0 0 var(--color-text);
   position: relative;
   left: 3px;
   top: 3px;
 }

.green {
    background-color: var(--color-blue);
    height: 100vh;
    overflow-y: scroll;
}

.yellow {
    background-color: #e9e7e7;
    height: 100vh;
    overflow-y: scroll;
}

.orange {
    background-color: var(--color-fog);
    height: 100vh;
    overflow-y: scroll;
}

.red, .purple, .maroon {
    background-color: var(--color-text);
    height: 100vh;
    overflow-y: scroll;
}

.red *, .purple *, .marron * {
    color: var(--color-blue);
}

.scoreContainer {
    width: 50vw;
    min-width: 10rem;
    max-width: 15rem;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem 0.5rem;
    border-radius: 3%;
    border: 1.5px solid transparent;
    position: relative;
    z-index: 5;
}

.scoreContainer:hover {
    border: 1.5px solid var(--color-text);
} 

.scoreBox > div:nth-child(2) {
    font-size: 3rem;
    margin: 0.5rem;
    font-weight: 500;
    font-family: var(--font-h2);
}

.scoreBox > div:nth-child(3) {
    font-size: 1.5rem;
    font-family: var(--font-h2);
}

.green > #scoreID > .scoreContainer {
    background-color: #009966;
}

.yellow > #scoreID > .scoreContainer {
    background-color: #FFDE33;
}

.orange > #scoreID > .scoreContainer {
    background-color: #FF9933;
}

.yellow > #scoreID > .scoreContainer > *, .orange > #scoreID > .scoreContainer > * {
    color: var(--color-text);
}

.red > #scoreID > .scoreContainer {
    background-color: #CC0033;
}

.purple > #scoreID > .scoreContainer {
    background-color: #660099;
}

.maroon > #scoreID > .scoreContainer {
    background-color: #7e0023;
}

.green > #scoreID > .scoreContainer > *, .red > #scoreID > .scoreContainer > *, .purple > #scoreID > .scoreContainer > *, .maroon > #scoreID > .scoreContainer > * {
    color: white;
}

/* Air Animation in results page: */

.cleanContainer > div {
    position: relative;
    }

    
.cleanContainer > div:nth-child(1) img {
    width: 3.5rem;
    position: absolute;
    left: 50%;
    top: -3rem;
    z-index: 3;
}

.cleanContainer > div:nth-child(3) img {
    width: 6rem;
    position: absolute;
    left: 50%;
    top: -3rem;
    z-index: 3;
}

.cleanContainer > div:nth-child(2) img {
    width: 3.5rem;
    position: absolute;
    left: 50%;
    top: -2.3rem;
    z-index: 1;
}

.green .cleanContainer > div:nth-child(1) img, .yellow .cleanContainer > div:nth-child(1) img {
    animation: cloudLeft 4.6s ease-in-out 1 normal forwards
}

.green .cleanContainer > div:nth-child(3) img, .yellow .cleanContainer > div:nth-child(3) img {
    animation: cloudRight 4.5s ease-in-out 1 normal forwards;
}

.orange .cleanContainer > div:nth-child(1) img, .red .cleanContainer > div:nth-child(1) img, .purple .cleanContainer > div:nth-child(1) img, .maroon .cleanContainer > div:nth-child(1) img {
    animation: fromLeft 4.6s ease-in-out 1 normal forwards;
}

.orange .cleanContainer > div:nth-child(3) img, .red .cleanContainer > div:nth-child(3) img, .purple .cleanContainer > div:nth-child(3) img, .maroon .cleanContainer > div:nth-child(3) img {
    animation: fromRight 4.5s ease-in-out 1 normal forwards;
}

@keyframes cloudRight {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(4rem, 0);
    }
}

@keyframes cloudLeft {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-4rem, 0);
    }
}

@keyframes fromRight {
    0% {
        transform: translate(4rem, 0);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes fromLeft {
    0% {
        transform: translate(-4rem, 0);
    }

    100% {
        transform: translate(0);
    }
}

.orange .cleanContainer, .red .cleanContainer, .purple .cleanContainer, .maroon .cleanContainer {
    display: none;
}

.sun img {
    width: 100%;
}

.adviceContainer {
    width: 90vw;
    max-width: 40rem;
    margin: 0 auto 2rem auto;
    text-align: center;
    border: 1px solid var(--color-text);
    border-radius: 3%;
    padding: 0 0.7rem;
    background-color: var(--color-text);
    position: relative;
    z-index: 5;
}

.adviceContainer a {
    font-weight: 700;
    color: var(--color-cta);
    text-decoration: underline;
}

.adviceContainer h3 {
    font-size: 1.5rem;
    font-family: var(--font-h2);
}

.adviceContainer > * {
    margin: 1.5rem 0;
    color: white;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

.cardContainer > * {
    border: 1px solid var(--color-fog);
    border-radius: 3%;
    width: 60%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0.5rem 2rem 0.5rem;
    background: linear-gradient(var(--color-fog), var(--color-blue))
}

.cardContainer > *:hover {
    border: 1px solid var(--color-text);
}

.cardContainer > * > * {
    width: 80%;
    font-family: var(--font-h2);
}

.earthIconResults {
    width: 50%;
    max-width: 40rem;
    margin: 0 auto;
    position: relative;
    bottom: 2rem;
    z-index: 5;
}

.earthIconResults img {
    width: 100%;
}

/* For desktop and tablet screens only */
@media screen and (min-width: 800px) {
        .cardContainer {
            flex-direction: row;

        }

        .cardContainer > * {
            width: 10rem;
            height: 10rem;
        }
}