/* Variables: */

:root {
    --font-h1: 'Shadows Into Light', cursive;
    --font-h2: 'Rubik', sans-serif;
    --font-p: 'Barlow', sans-serif;
    --color-cta: #55F018;
    --color-fog: #C4BEBE;
    --color-blue: #E5FFFF;
    --color-text: #343434;
}

/* Reset styles: */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, p {
    color: var(--color-text);
}

/* Other styles: */

body {
    background-color: var(--color-blue);
    animation: backgroundChange 7s ease-in-out infinite alternate both;
}

@keyframes backgroundChange {
    0% {
        background-color: var(--color-blue);
    }
    100% {
        background-color: var(--color-text);
    }
}

.appContainer > div {
    
}

a {
    color: var(--color-text);
    text-decoration: none;
    /* Need to improve this */
}

a:visited {
    color: var(--color-text);
    text-decoration: none;
}

/* Button page: */


h1 {
    font-family: var(--font-h1);
    font-size: 3rem;
    text-align: center;
    margin: 10vh auto 10vh auto;
    padding: 0 0.4rem 0 0.4rem;
}

.mainButton {
    margin: 4rem auto 0 auto;
    width: 40vw;
    max-width: 12rem;
    min-width: 10rem;
}

.mainButton > button {
    background-color: var(--color-cta);
    border-radius: 50%;
    box-shadow: 6px 6px var(--color-cta);
    margin: 1rem 3rem;
    border: 2px solid var(--color-text)
}


.mainButton > button:hover {
    cursor: pointer;
}

.mainButton > button:active {
    box-shadow: 0 0 var(--color-text);
    position: relative;
    left: 4px;
    top: 4px;
}

.mainButton > button > img {
    width: 100%;
    padding-top: 0.5rem;
    margin: 0 auto;
}

/* Footer: */

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    border-top: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    right: 50%;
    background-color: white;
    transform: translateX(50%);
}

footer > div {
    font-family: var(--font-p);
    padding: 0.5rem;
}

/* Results page: */
.backButton {
    width: 30px;
}
/* I need to add a sun animation to .green and .yellow and I need to add a fume/cloud animation to everything else: */
.green {
    background-color: var(--color-blue);
    height: 95vh;
    overflow: scroll;
}

.yellow {
    background-color: #e9e7e7;
    height: 95vh;
    overflow: scroll;
}

.orange {
    background-color: var(--color-fog);
    height: 95vh;
    overflow: scroll;
}

.red, .purple, .maroon {
    background-color: var(--color-text);
    height: 95vh;
    overflow: scroll;
}

.red *, .purple *, .marron * {
    color: var(--color-blue);
}

.scoreContainer {
    width: 50vw;
    min-width: 10rem;
    max-width: 15rem;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem 0.5rem;
    border-radius: 3%;
}

.scoreContainer:hover {
    border: 1px solid var(--color-text)
} 

.scoreBox > div:nth-child(2) {
    font-size: 3rem;
    margin: 0.5rem;
    font-weight: 500;
}

.scoreBox > div:nth-child(3) {
    font-size: 1.5rem;
}

.green > #scoreID > .scoreContainer {
    background-color: #009966;
}

.yellow > #scoreID > .scoreContainer {
    background-color: #FFDE33;
}

.orange > #scoreID > .scoreContainer {
    background-color: #FF9933;
}

.yellow > #scoreID > .scoreContainer > *, .orange > #scoreID > .scoreContainer > * {
    color: var(--color-text);
}

.red > #scoreID > .scoreContainer {
    background-color: #CC0033;
}

.purple > #scoreID > .scoreContainer {
    background-color: #660099;
}

.maroon > #scoreID > .scoreContainer {
    background-color: #7e0023;
}

.green > #scoreID > .scoreContainer > *, .red > #scoreID > .scoreContainer > *, .purple > #scoreID > .scoreContainer > *, .maroon > #scoreID > .scoreContainer > * {
    color: white;
}

.adviceContainer {
    border: 1px solid blue;
}